:root {
  --midnight-blue: #140152ff;
  --duke-blue: #0d00a4ff;
  --dark-purple: #200a6c;
  --lilac: #d4c4fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(236, 236, 236);
  font-size: 18px;
}

.title {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

h2,
h3 {
  padding: 10px;
}
.search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#search-city {
  margin: 5px;
}

.btn {
  margin: 5px;
  /* background-color ; */
}

.btn-primary {
  background-color: var(--duke-blue);
}

.list-group {
  padding: 10px;
}

.weather-containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.current-weather-container {
  padding: 5px;
}

.current-weather-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.current-weather {
  padding-left: 10px;
}

.bg {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 5px;
}

#low-UV {
  color: #ffffff;
  background-color: green;
}

#mod-UV {
  color: #0000;
  background-color: #ffd95b;
}

#high-UV {
  color: #ffffff;
  background-color: #c40000;
}

.forecasts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-grow: 1; */
}

.forecast-card {
  padding: 0px 10px 20px;
}

/* MOBILE STYLES */
@media screen and (max-width: 576px) {
  .main-container {
    flex-direction: column;
  }

  /* center search form */
  .form-container {
    margin: auto;
  }
  /* flex column the current info and img */
  .current-weather-elements {
    justify-content: center;
  }

  /* flex column the forecast cards */
  .forecasts-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .forecast-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  /* center all headings */
  h2,
  h3 {
    text-align: center;
  }
}
